@model It4MEProject.Models.School

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<!-- Displays information in list form from the cloud Database -->
<div>
    <h4>School</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.College)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.College)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProgramName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProgramName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
